.companyContainer {
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: auto; }
  .companyContainer .companyData {
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 40px; }
    .companyContainer .companyData form {
      margin: 10px; }
      .companyContainer .companyData form .submitButton {
        font-size: 15px; }
  .companyContainer .submitButton {
    color: #ff6700;
    width: 160px;
    background-color: #393d3f;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    outline: none;
    text-align: center; }
  .companyContainer .submitButton:hover {
    cursor: pointer;
    background-color: #ff6700;
    color: #393d3f; }
  .companyContainer .companyButtonContainer {
    background-color: #393d3f;
    display: flex;
    height: 100px; }
    .companyContainer .companyButtonContainer form {
      margin: auto; }
