.mainContainer {
  background-color: gray; }

.buttonContainer {
  display: flex;
  height: 100px;
  background-color: #393d3f;
  flex-wrap: wrap; }
  .buttonContainer form {
    margin: auto; }
  .buttonContainer .submitButton {
    color: #ff6700;
    width: 160px;
    background-color: #393d3f;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    outline: none;
    text-align: center; }
  .buttonContainer .submitButton:hover {
    cursor: pointer;
    background-color: #ff6700;
    color: #393d3f; }

.userData {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-top: 15px;
  text-align: center; }

.posts {
  min-height: 81vh;
  text-align: center;
  width: 100%; }
  .posts h1 {
    text-decoration: underline;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 50px; }
  .posts .postData {
    max-width: 500px;
    margin: auto;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    text-align: left; }
  .posts img {
    width: 500px;
    height: 300px; }
  .posts .submitButton {
    color: #ff6700;
    width: 160px;
    background-color: #393d3f;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
    outline: none;
    text-align: center; }
  .posts .submitButton:hover {
    cursor: pointer;
    background-color: #ff6700;
    color: #393d3f; }

@media only screen and (max-width: 850px) {
  .buttonContainer {
    background-color: #393d3f;
    display: contents;
    height: auto;
    width: 100%; }
    .buttonContainer form {
      width: 100%;
      background-color: #3e4142;
      text-align: center; }
    .buttonContainer .submitButton {
      text-align: center;
      margin: 0;
      padding: 0;
      font-size: 15px;
      max-width: 130px; }
  .posts img {
    object-fit: contain;
    max-width: 200px;
    max-height: 200px; } }
