$robotoFont:  'Roboto', sans-serif;
$mainOrange:  #ff6700;
$mainColor : #393d3f;
.companyContainer{
    font-family: $robotoFont;
    
    text-align: center;
    height: auto;
    .companyData{
        font-family: $robotoFont;
        text-align: center;
        font-size: 20px;
        padding: 40px;
        form{
            .submitButton{
                font-size: 15px;
            }
            margin: 10px;
        }
    }

    .submitButton{
        color:$mainOrange;   
        width: 160px;
        background-color: $mainColor;
        border: none;
        height: 40px;
        border-radius: 5px;
        font-family: $robotoFont;
        font-size: 1.3em;	
        outline: none;
        text-align: center;
    }         
    .submitButton:hover{
    cursor: pointer;
    background-color: $mainOrange;
    color: $mainColor;


    }
    .companyButtonContainer{
        background-color: $mainColor;
        display: flex;
        height: 100px;
        flex-wrap: wrap;
 
        form{ 
            margin: auto;

        }

    }   
}
@media only screen and (max-width:1150px) {
   
        .companyButtonContainer{
        
                background-color: #393d3f;
                display: contents;
                height: auto;
                width: 100%;
                form{
                    width: 100%;
                    background-color: #3e4142;
                    text-align: center;
                }
                .submitButton{
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    font-size: 15px;
                    width: 200px;
                }
        }
        .companyContainer .companyData{
            margin-top: 150px;
            text-align: center;
            img{
                object-fit: contain;
                max-width: 150px;
                max-height: 150px;
            }
        }
        }