/* The footer  */

$mainColor : #393d3f;
$robotoFont:  'Roboto', sans-serif;
$hoverColor:  #ff6700;

  footer{ 
    background-color: $mainColor;
    width: 100%;
    bottom: 18px;
   
    text-align: center;
   
    
    
    
    .footerContent{ 
      color: white;
      display: flex;
      
      font-size: 18px;
      font-family: $robotoFont;
      align-content: space-between;
      padding: 20px 50px 0px 50px;
      
        
           .footer-left{
            width: 33%;
    text-align: left;
    margin: auto;
            .footerLogo{
              
              img{
                max-width: 200px;
                max-height: 100px;
              }
            }
           }
            .footer-center{
              width: 33%;
              text-align: center;
              .footerContacts{
                .tel{
                  padding: 10px;
                    a{
                      padding: 10px;
                      color: white;
                      text-decoration: none;
                    }
                }
                .mail{
                  padding: 10px;
                      
                    a{
                    padding: 10px;
                    color: white;
                    text-decoration: none;
                    }
                }
                .footer-icons{
                  padding: 10px;
                  i{
                    padding-left: 5px ;
                    color: white;
                  }
                  i:hover{
                    color: $hoverColor;
                    transform: scale(1.2);

                  }


                }
              }
              
            }
            .footer-right{
              width: 33%;
              text-align: right;
              padding-top: 10px;
            
            }
    }
   
    
  }
  .copyRight{
    color: white;
    background-color:  #ff6700;
    width: 100%;
    text-align: center;
    bottom: 0;
   
  }
     
   
  @media only screen and (max-width:  700px) {
    footer .footerContent{
      
      display: block;
    }
    footer .footerContent .footerLogo img{
     text-align: center;
     margin: auto;
     width: auto;
    }
    footer .footerContent .footer-left{
      text-align: center;
      margin: auto;
      width: auto;
      
    }
    footer .footerContent .footer-center{
      text-align: center;
      width: auto;
    }
    footer .footerContent .footer-right{
      text-align: center;
      margin:auto;
      width: auto;
    }
  }

     
    