$robotoFont:  'Roboto', sans-serif;
$mainOrange:  #ff6700;
$mainColor : #393d3f;
.singleProduct{
    height: 82vh;
    font-family: $robotoFont;
    font-size: 15px;
   
    background-color: gray;
    text-align: center;
    img{
        object-fit: contain;
        width: 500px;
        height: 300px;

    }
    h1{
        font-family: $robotoFont;
        padding-top: 20px;
    }
    .backButtonContainer{
        
        
     padding: 35px;
    
    form{
        
   
    .submitButton{
        color:$mainOrange;   
        width: 200px;
        background-color: $mainColor;
        border: none;
        height: 40px;
        border-radius: 5px;
        font-family: $robotoFont;
        font-size: 1.3em;	
        outline: none;
        text-align: center;
        
    }         
    .submitButton:hover{
    cursor: pointer;
    background-color: $mainOrange;
    color: $mainColor;
        }

   }  

 }
 form{
        
   
    .submitButton{
        color:$mainOrange;   
        width: 200px;
        background-color: $mainColor;
        border: none;
        height: 40px;
        border-radius: 5px;
        font-family: $robotoFont;
        font-size: 1.3em;	
        outline: none;
        text-align: center;
        
    }         
    .submitButton:hover{
    cursor: pointer;
    background-color: $mainOrange;
    color: $mainColor;
        }

   }  
}