@import "footer.scss";
@import "header.scss";
@import "index.scss";
@import "userIndex.scss";
@import "companyIndex.scss";
@import "loginUser.scss";
@import "loginCompany.scss";
@import "signupUser.scss";
@import "signupCompany.scss";
@import "userProfile.scss";
@import "companyProfile.scss";
@import "allproducts.scss";
@import "singleProduct.scss";
@import "allCompanies.scss";
@import "companySite.scss";
@import "editProfileForm.scss";
@import "editProfile.scss";
@import "editCompanyProfileForm.scss";
@import "editCompanyProfile.scss";
@import "allPost.scss";
@import "singlePost.scss";
@import "checkout.scss";
@import "createPost.scss";
@import "searchResult.scss";
@import "editPostForm.scss";


$robotoFont:  'Roboto', sans-serif;
$mainOrange:  #ff6700;
$mainColor : #393d3f;